<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @group.name %>
</p>
<p>
 <ul>
<% if @group.user.friendships.any? %>
  <% for friendship in @group.user.friendships %>
    <li>
      <%=h friendship.friend.username %>

      <%= link_to "Add as a group member", group_members_path(:user_id => friendship.friend ,:group_id => @group), :method => :post %>
   </li>
  <% end %>

<% else %>
<p>no friends added to this group</p>
<% end %>
</ul>
</p>
<p>
  <strong>User:</strong>
  <%= @group.user %>
</p>

<%= link_to 'Edit', edit_group_path(@group) %> |
<%= link_to 'Back', groups_path %>
