<p id="notice"><%= notice %></p>

<h1>Users</h1>

<div class="col-md-10 col-md-offset-1">
<table >
  <col width="130">
  <col width="180">
  <thead>
    <tr>
      <th>Username</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
  <col width="180">
    <% @users.each do |user| %>
      <tr>
        <td><%= image_tag(user.image.thumb.url, alt: 'Image') if user.image? %></td>
        <td><%= user.username %></td>
        <!-- <td><%= user.id %></td> -->
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= link_to "Add Friend", friendships_path(:friend_id => user), :method => :post %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>


<%= link_to 'New User', new_user_path %>

<%= stylesheet_link_tag "orders" %>
