<p id="notice"><%= notice %></p>

<h1>Orders</h1>

<table>
  <thead>
    <tr>
      <th>Meal</th>
      <th>Resturant</th>
      <!--<th>Image</th>-->
      <th>Status</th>
      <th>User</th>
      <th colspan="4">Action</th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.meal %></td>
        <td><%= order.resturant %></td>
        <!--<td><%= order.image %></td>-->
        <td><%= order.status %></td>
        <td><%= order.user.username %></td>
        <td><%= link_to 'Show', order %></td>
        <td><button onclick="finish_order()">Finish</button></td>
        <td><%= link_to 'Edit', edit_order_path(order) %></td>
        <td><%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>

</table>
<a id="finish_order">Finish</a>
<br>

<%= link_to 'New Order', new_order_path %>

<%= javascript_include_tag('orders.js') %>
