<p id="notice"><%= notice %></p>

<p>
  <strong>Meal:</strong>
  <%= @order.meal %>
</p>

<p>
  <strong>Resturant:</strong>
  <%= @order.resturant %>
</p>

<p>
  <strong>Image:</strong>
  <%= @order.image %>
</p>

<p>
  <strong>Status:</strong>
  <%= @order.status %>
</p>

<p>
  <strong>Created By: </strong>
  <%= @order.user.username %>
</p>


<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
