<!DOCTYPE html>
<html>
  <head>
    <title>Yallanotlob</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">WebSiteName</a>
      </div>
      <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <% if current_user %>
          <li><%= link_to 'Friends' , user_path(current_user) , method: :get%></li>
          <li><%= link_to 'Groups' , groups_path(current_user) , method: :get%></li>
          <li><%= link_to 'Orders' , orders_path(current_user) , method: :get%></li>
          <div class="nav navbar-nav">
            <li><%= link_to current_user.username , user_path(current_user) , method: :get%></li>
            <li><%= link_to 'Logout' , destroy_user_session_path , method: :delete%></li>
          </div>
        <% else %>
          <li><%= link_to 'Sign in' , user_session_path%></li>
          <li><%= link_to 'Sign up' , new_user_registration_path %></li>

        <% end %>
      </ul>
    </div>
  </nav>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <%= yield %>

  </body>
</html>
